# Build outputs
bin/
obj/

# User-specific
*.user
*.rsuser
*.suo
*.userprefs

# IDE
.vs/
.vscode/

# Logs
*.log

# Dotnet artifacts
TestResult*/
.idea/
.DS_Store

# Tooling
*.ncrunch*
.localhistory/

# Coverage
coverage*/
*.lcov
TestResults/
